/* 头部样式 */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(0, 0, 0, 0.25);
    color: white;
    padding: 0 3.13vw;
    height: 3.75vw;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}

.header .logo img {
    height: 2.40vw;
    width: auto;
}

.header .right-sec {
    display: flex;
    align-items: center;
}

.header ul.menu {
    display: flex;
    align-items: center;
    gap: 1.04vw;
}

.header ul.menu a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.21vw 0;
    width: 6.51vw;
    border-radius: 0.31vw;
}

.header ul.menu li.active a,
.header ul.menu li:hover a {
    background: white;
    color: #333;
}

.header ul.menu a .cn {
    font-size: 1.04vw;
    margin-bottom: 0.10vw;
}

.header ul.menu a .en {
    font-size: 0.68vw;
    text-transform: uppercase;
}

.header ul.menu a .iconfont {
    font-size: 0.52vw;
    position: absolute;
    right: 0.52vw;
    transition: all 0.3s ease;
    opacity: 0;
    color: #333;
}

.header ul.menu li.active a .iconfont,
.header ul.menu li:hover a .iconfont {
    opacity: 1;
}

.header .app-all {
    display: flex;
    align-items: center;
    margin-left: 3.13vw;
}

.header .app-all a {
    display: block;
    margin-right: 1.30vw;
}

.header .app-all a:last-child {
    margin: 0;
}

.header .app-all img {
    max-width: 1.15vw;
    max-height: 1.15vw;
    width: 100%;
    height: 100%;
}


.header a.aki-music img.open,
.header a.aki-music.active img.close {
    display: none;
}

.header a.aki-music img.close,
.header a.aki-music.active img.open {
    display: block;
}


/* 首页样式代码 */
.banner {
    position: relative;
    background: white;
}

.banner video {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    /* 去除video背景 */
    mix-blend-mode: darken;
}

.banner .banner-left {
    position: absolute;
    left: 2.08vw;
    bottom: 5.73vw;
}

.banner .banner-left img {
    width: 100%;
}

.banner .banner-left .link1,
.banner .banner-left .link2 {
    display: block;
    width: 5.52vw;
    margin-bottom: 1.82vw;
}

.banner .banner-left .link2 {
    margin-bottom: 6.25vw;
}

.banner .banner-left .link3 {
    display: block;
    width: 3.39vw;
}

.banner .banner-center {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 4.48vw;
    transform: translateX(-50%);
}

.banner .banner-center img {
    width: 23.54vw;
}

.banner .banner-right {
    display: block;
    position: absolute;
    right: 3.13vw;
    bottom: 2.86vw;
}

.banner .banner-right img {
    width: 12.03vw;
}


/* 页尾样式 */
.footer {
    padding: 1.56vw 0;
    background: white;
    font-size: 0.68vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.footer .left-sec {
    display: flex;
    align-items: center;
    margin-top: 1.04vw;
    width: 24.22vw;
}

.footer .left-sec .logo1 {
    display: block;
    padding-right: 0.78vw;
    border-right: 0.05vw solid var(--themeColor);
    margin-right: 1.04vw;
}

.footer .left-sec .logo1 img {
    height: 2.60vw;
}

.footer .left-sec .logo2 img {
    height: 3.13vw;
}

.footer .right-sec {
    width: 36.46vw;
    color: #666;
}

.footer .right-sec .query-link {
    display: flex;
    align-items: center;
}

.footer .right-sec .query-link span {
    margin: 0 0.63vw;
}

.footer .right-sec .query-link a {
    color: var(--themeColor);
}

.footer .right-sec .query-link a:hover {
    text-decoration: underline !important;
}

.footer .right-sec .footer-text {
    line-height: 1.5;
    margin-top: 0.52vw;
}


/* 最新资讯页面样式 */
.news {
    position: relative;
    width: 100%;
    height: 49.22vw;
    background-image: url(../images/news-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
    padding: 10.42vw 7.81vw 0;
    overflow: hidden;
}

.news .left-sec {
    width: 52.08vw;
}

.news .left-sec img {
    width: 100%;
    height: 30.83vw;
}

.news .left-sec .swiper-pagination {
    bottom: 2.60vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news .left-sec .swiper-pagination span {
    display: block;
    margin: 0 0.26vw !important;
    opacity: 1;
    width: 3.39vw;
    height: 0.63vw;
    border: 0.05vw solid var(--themeColor);
    border-radius: 0.42vw;
    background: white;
}

.news .left-sec .swiper-pagination span.swiper-pagination-bullet-active {
    width: 9.64vw;
    background: var(--themeColor);
}

.news .right-sec {
    width: calc(100% - 52.08vw);
    padding: 8.02vw 0 0 2.92vw;
}

.news .right-sec .cate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 2.29vw;
    padding: 0 0.78vw 0 2.08vw;
    color: white;
}

.news .right-sec .cate .cate-item {
    display: flex;
    align-items: center;
}

.news .right-sec .cate .cate-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.63vw;
    margin-right: 0.63vw;
    height: 1.56vw;
    border-radius: 0.31vw;
}

.news .right-sec .cate .cate-item a.active,
.news .right-sec .cate .cate-item a:hover {
    background: white;
    color: #333;
}

.news .right-sec .cate a.more {
    display: block;
    height: 1.88vw;
    width: 1.88vw;
}

.news .right-sec .cate a.more img {
    height: 100%;
    width: auto;
}

.news .right-sec .news-list {
    margin-top: 0.78vw;
}

.news .right-sec .news-list a {
    display: flex;
    align-items: center;
    height: 2.81vw;
    border-bottom: 0.05vw dashed rgb(201, 230, 255);
    font-size: 0.83vw;
}

.news .right-sec .news-list a:hover {
    color: var(--themeColor);
}

.news .right-sec .news-list a .title {
    width: calc(100% - 3.13vw);
}

.news .right-sec .news-list a:hover .title {
    text-decoration: underline;
}

.news .right-sec .news-list a .date {
    width: 3.13vw;
}


/* 设定世界观页样式 */
.setting {
    position: relative;
    width: 100%;
    min-height: 49.22vw;
    height: 100vh;
    background-image: url(../images/setting-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 5.99vw 5.47vw 0 9.38vw;
    overflow: hidden;
}

.setting img {
    width: 100%;
    height: auto;
}


/* 角色页面样式 */
.character {
    position: relative;
    width: 100%;
    min-height: 49.22vw;
    height: 100vh;
    background-image: url(../images/character-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.character .swiper_big {
    width: 82.60vw;
    position: absolute;
    right: 2.34vw;
    top: 0;
    z-index: 2;
}

.character .swiper_big img {
    width: 100%;
    height: auto;
}

.character .left-nav {
    position: absolute;
    left: 6.77vw;
    top: 7.29vw;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.character .left-nav .swiper_small {
    width: 5.47vw;
    height: 16.41vw;
}

.character .left-nav .swiper_small img {
    width: 100%;
    height: auto;
    cursor: pointer;
    opacity: 0.35;
}

.character .left-nav .swiper_small .swiper-slide-thumb-active img {
    opacity: 1;
}

.character .left-nav .swiper-button-prev,
.character .left-nav .swiper-button-next {
    position: static;
    margin: 0 !important;
    width: 5.73vw;
    height: 5.31vw;
    border-radius: 0.31vw !important;
    background-image: url(../images/last-btn.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 0.3s ease;
    border: 0.10vw solid transparent;
}

.character .left-nav .swiper-button-next {
    background-image: url(../images/next-btn.png);
}

.character .left-nav .swiper-button-prev::after,
.character .left-nav .swiper-button-next::after {
    display: none;
}

.character .left-nav .swiper-button-prev:hover,
.character .left-nav .swiper-button-next:hover {
    transform: scale(0.9);
    background-color: rgb(0, 0, 0, 0.2);
}


/* 插画页面样式 */
.illustration {
    position: relative;
    width: 100%;
    min-height: 49.22vw;
    height: 100vh;
    background-image: url(../images/illustration-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 8.33vw 0 0 9.11vw;
    display: flex;
    align-items: flex-start;
}

.illustration .b-title {
    width: 20.83vw;
    padding: 1.56vw 1.56vw 0 0;
}

.illustration .b-title img {
    width: 100%;
}

.illustration .akiswiper {
    width: calc(100% - 20.83vw);
}

.illustration .akiswiper .swiper-slide {
    width: 54.69vw;
    padding: 0.78vw;
    background: white;
    border-radius: 1.30vw;
    margin-right: 1.04vw;
    border: 0.05vw solid #ddd;
}

.illustration .akiswiper a {
    display: block;
    position: relative;
    border-radius: 1.04vw;
    overflow: hidden;
}

.illustration .akiswiper a img {
    width: 100%;
    height: 29.69vw;
}

.illustration .akiswiper a .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    transition: all 0.3s ease;
    opacity: 0;
    transform: scale(0.8);
    border-radius: inherit;
}

.illustration .akiswiper a:hover .layer {
    opacity: 1;
    transform: scale(1);
}

.illustration .akiswiper a .layer .iconfont {
    font-size: 2.60vw;
}

.illustration .akiswiper a .layer .title {
    margin-top: 0.78vw;
    font-size: 0.94vw;
}

.illustration .swiper-button-prev,
.illustration .swiper-button-next {
    margin: 0 !important;
    width: auto;
    height: auto;
    transition: all 0.3s ease;
    border: 0.10vw solid transparent;
    top: 50%;
    transform: translateY(-50%);
}

.illustration .swiper-button-next {
    right: 9.11vw;
}

.illustration .swiper-button-prev {
    left: 9.11vw;
}

.illustration .swiper-button-prev img,
.illustration .swiper-button-next img {
    width: 2.29vw;
    height: auto;
}

.illustration .swiper-button-prev::after,
.illustration .swiper-button-next::after {
    display: none;
}